In [2]:
import pandas as pd

In [3]:
pd.read_csv("cats.csv")

,Unnamed: 0,Breed,Age (Years),Weight (kg),Color,Gender,ID
0,0,Egyptian Mau,12,7,White,Male,181
1,1,Scottish Fold,17,8,Tortoiseshell,Male,907
2,2,Sphynx,9,9,Orange,Male,732
3,3,Oriental,6,7,Gray,Female,464
4,4,Savannah,14,7,Tortoiseshell,Female,451
...,...,...,...,...,...,...,...
995,995,Abyssinian,18,3,Black,Female,347
996,996,Burmese,4,5,Pointed,Female,339
997,997,Persian,19,9,Cream,Male,659
998,998,Persian,17,3,Bicolor,Female,124
999,999,Manx,18,8,Black,Male,226

In [6]:
df = pd.read_csv("cats.csv")

In [7]:
df.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [10]:
df.iloc[[99]]

    Unnamed: 0        Breed  Age (Years)  Weight (kg)    Color  Gender   ID
99          99  Cornish Rex           11            6  Bicolor  Female  527

In [11]:
df.loc[98]

Unnamed: 0             98
Breed          Maine Coon
Age (Years)             9
Weight (kg)             5
Color                Blue
Gender             Female
ID                    590
Name: 98, dtype: object

In [12]:
df.loc[0]["Breed"]

'Egyptian Mau'

In [27]:
df.loc[len(df)] = [0, "Orange Tabby", 3, 5, "Orange", "Male", len(df)]
df.tail

<bound method NDFrame.tail of       Unnamed: 0          Breed  Age (Years)  Weight (kg)          Color  \
0              0   Egyptian Mau           12            7          White
1              1  Scottish Fold           17            8  Tortoiseshell
2              2         Sphynx            9            9         Orange
3              3       Oriental            6            7           Gray
4              4       Savannah           14            7  Tortoiseshell
...          ...            ...          ...          ...            ...
997          997        Persian           19            9          Cream
998          998        Persian           17            3        Bicolor
999          999           Manx           18            8          Black
1000           0   Orange Tabby            3            5         Orange
1001           0   Orange Tabby            3            5         Orange

      Gender    ID
0       Male   181
1       Male   907
2       Male   732
3     Female   464
4     Female   451
...      ...   ...
997     Male   659
998   Female   124
999     Male   226
1000    Male  1000
1001    Male  1001

[1002 rows x 7 columns]>